
a {
    text-decoration: none;
    color: #d8f4ea;

}

a:hover {
    text-decoration: none;
    color: #676080;
}

#bloglink {
    text-decoration: none;
    color: #20332c;
}


body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-image: url(bg.jpg);
    font-family: Arial;
    color: #676F52;
    font-size: 125%;
}


.block1 {
    display:inline-block;
    height: 75px;
    width: 75px;
    margin-left: 15%;
    margin-right: 0px;
    border-radius: 10px;
}
.block2 {
    display:inline-block;
    height: 75px;
    width: 75px;
    margin-left: 20px;
    margin-right: 0px;
    border-radius: 10px;
}

#profile {
    display:inline-block;
    height: auto;
    width: 20%;
    border-radius: 10px;
    margin: 10px;
}

.content {
    position: absolute;
    top: 51%;
    left: 10%;
    display:block;
    height: auto;
    width: 75%;
    background-color: #DCE3E3;
    -webkit-box-shadow: 5px 5px 8px 0px rgba(59,59,59,1);
    -moz-box-shadow: 5px 5px 8px 0px rgba(59,59,59,1);
    box-shadow: 5px 5px 8px 0px rgba(59,59,59,1);
    padding:25px;
    margin-bottom: 120px;
    z-index: -1;
}

nav {
    position: absolute;
    left: 10%;
}

table {
    display:block;
    height: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    background-color: #332E45;
    text-align: center;
}

h2 {
    color:#0f4b83;
    display: inline-block;
    margin-left: 15%;
}

h1 {
    font-family: Arial;
    color: #676F52;
}


footer {
    position: fixed;
    width: 100% ;
    height: 70px;
    background-color: #BECCCB;
    bottom:0;
    left: 0;
    right: 0;
    float: left;
    clear: both;
}

ul
{
    list-style-type: none;
}

#binary {
    color: #BECCCB;
    opacity: 0;
}
.spacer {
    height: 20px;
}

.spacer2 {
    height: 60px;
}

.spacer3 {
    height: 40%;
}


.sample {
    color:brown;
    font-family: monospace;
}

#pic {
    display:inline-block;
    height: auto;
    width: 500px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

#pic2 {
     display:inline-block;
    height: auto;
    width: 450px;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}


#pic3 {
    display:inline-block;
    height: 450px;
    width: auto;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
}

.date {
    font-size: 60%;
    color:gray;
}
.month {
    color:#22475e;
}
.preview {
    font-size: 90%;
    color:#676F52;
    width: 60%;
}



