a {
    text-decoration: none;
    color: #d8f4ea;

}

a:hover {
    text-decoration: none;
    color: #20332c;
}

#bloglink {
    text-decoration: none;
    color: #20332c;
}

body {
    background-color: #c7ebde;
    font-family: Arial;
    color: #676F52;
}

}

.block1 {
    display:inline-block;
    height: 75px;
    width: 75px;
    margin-left: 15%;
    margin-right: 0px;
    border-radius: 10px;
}
.block2 {
    display:inline-block;
    height: 75px;
    width: 75px;
    margin-left: 20px;
    margin-right: 0px;
    border-radius: 10px;
}

#profile {
    display:inline-block;
    height: auto;
    width: 20%;
    border-radius: 10px;
    margin: 10px;
}

.content {
    
    display:block;
    height: auto;
    width: 70%;
    background-color:#c7ebde; 
    margin-left: 15%;
    margin-right: 15%;
    margin-bottom: 50px;
    
}

table {
    display:block;
    height: 30px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    background-color: #478e75;
    text-align: center;
}

h2 {
    color:#0f4b83;
    display: inline-block;
    margin-left: 15%;
}

.icon {
    color:#0f4b83;
    display: inline-block;
    margin-left: 20px;
}

h1 {
    font-family: Arial;
    color: #676F52;
}


footer {
    position: fixed;
    width: 100% ;
    height: 60px;
    background-color: #BECCCB;
    bottom:0;
    left: 0;
    right: 0;
}